
@import 'bootstrap.less';
@import 'responsive.less';
@import 'elements.less';

//
// Variables
// --------------------------------------------------

// Colours
// -------------------------
@my-indigo-lt: rgba(122,27,112,1);
@my-indigo-dk: #444491;
@my-cream: #fdfdf3;
@my-linnen: #f7dfc8;

@my-lime-lt: #98ccb7;
@my-lime-dk: #88c2a9;
@my-blue-lt: #a3c8de;
@my-blue-dk: #7cb6d3;
@my-yellow-lt: #ffdf5e;
@my-yellow-dk: #ffcb30;
@my-red-lt: #ee3430;
@my-red-dk: #db2f2c;
@my-salmon-lt: #faad7d;
@my-salmon-dk: #f68e50;

@my-black-lt: #242732;
@my-black-dk: #090b0a;


// Colours overrides
@wellBackground: @my-yellow-lt;
@panelBackground: @my-red-lt;
@heroUnitHeadingColor: @my-linnen;

@navbarBackgroundHighlight: @my-black-lt;
@navbarBackground: @my-black-lt;
@navbarBrandColor: @my-red-lt;
@navbarText: @my-linnen;
@navbarLinkColor: @navbarText;
@navbarLinkColorHover: @my-yellow-lt;
//
// Base settings
// --------------------------------------------------

body { 
    padding-top: 68px;
    width: 100%; padding: 90px 0 250px; background: #babeab;
    // background: linear-gradient(to bottom, rgba(63,40,51,0) 50%,rgb(63,40,51) 100%), radial-gradient(ellipse at center,  #babeab 0%,#3f7183 48%,#3f2731 97%);
    background-image:url('../img/background/grid.png');
    background-repeat:repeat;
 }


.Videowrapper {
    
}

.hyperlink {
    a:before,
    a:after {
        opacity: 0;
        content: '{';
        color: transparent;
        color: rgba(153,204,102,1);
        -moz-transition: opacity 0.25s;
        -webkit-transition: opacity 0.25s;
        -ms-transition: opacity 0.25s;
        -o-transition: opacity 0.25s;
        transition: opacity 0.25s;
    }

    a:after {
        content: '}';
    }

    a:hover:before,
    a:hover:after {
        opacity: 0.5;
        color: #9c6;
    }
}

//
// Layout Components
// --------------------------------------------------
//

.panelBox {
    .box-model;
    background-color: #fff;
    padding: 20px;
    margin: 0;
    margin-top: 40px; 
    margin-bottom: 0px; 
    -webkit-border-radius: 10px 10px 10px 10px;
       -moz-border-radius: 10px 10px 10px 10px;
            border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
            box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.box-model{
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */    
}
.signed {
    margin: 24px;
    .clearfix
}

.alpha{
    margin-left: -20px; 
}
.omega{
    margin-left: 20px; 
}
//
// Layout Items
// --------------------------------------------------
//

.jumptron {
    width: 100%;
    padding: 0;
    font-size: 18px;
    font-weight: 200;
    line-height: @baseLineHeight * 1.5;
    color: @heroUnitLeadColor;
    background-color: @panelBackground;
    h1 {
        margin-bottom: 0;
        font-size: 60px;
        line-height: 1;
        color: @heroUnitHeadingColor;
        letter-spacing: -1px;
    }
    p {
        color: @heroUnitHeadingColor;
    }
    li {
        line-height: @baseLineHeight * 1.5; // Reset since we specify in type.less
    }
    .Videowrapper {
        background: @my-black-lt;
        border-left: dotted 25px @my-yellow-lt;
        border-right: dotted 25px @my-yellow-lt;
        max-width: 1120px;
        width:100%;
        height:520px;
        padding: auto;
        margin:auto;
        overflow:auto;
    }
}

.actionbar {
    background-color: @my-yellow-lt;
    border-top: dotted 25px @my-black-lt;
    &.bottom {
        background-color:@my-black-lt;
        border-top: 0;
    }
    p {
        padding: 14px 30px;
        margin-bottom: 0;
        color: @my-linnen;
        font-size: @fontSizeLarge;
        vertical-align: center;
        line-height: auto;
    }
} 
.lecture-sort,
.portalbar {
    a {
        padding: 0;
        border: solid 2px @my-lime-lt;
        margin: 21px;
    }
    img:hover{
        .scale(0.99);
    }
}

.lecturegrid,
.portalbar {
    margin: 24px auto;
    background-color: @my-black-lt;
    border-bottom: solid 2px @my-lime-lt;
    border-top: solid 2px @my-lime-lt;
    > .container{
        background-color: @my-red-dk;
        h2 {
            color: @my-linnen;
            padding:8px;
            padding-left:25px;
            padding-bottom:0;
            margin:0;
        }
    }
    ul {
        // height: 100px;
        li{
            margin-bottom: 0;
        }
    }
    img { 
        .blackwhite();
    }
}

.lecturegrid {
    text-align: center;
    .nav{
        margin-bottom: 0px;
    }
    .section-header{
        h2{float:left;}
        li{float:left;}
        margin-bottom: 0;
    }
    .lecture-block{
        min-height: 260px;
        max-height: 300px;
        img {
            display: block;
            height: 195px;
        }
        a {
            position:relative;
            display: block;
            color: @my-red-lt;
            span{
                width: 100%;
                margin:0;
                font-size: @fontSizeLarge;
                text-decoration: none;
                &.author{
                    color:@my-black-lt;
                    text-transform: uppercase;
                    height: 16px;
                    display: block;
                    padding: 2px 0;
                    padding-top: 6px;
                    padding-bottom: 6px;
                }
                &.title{
                    height: 32px;
                    line-height: 16px;
                    display: block;
                    padding: 2px 0;
                    padding-top: 6px;
                    vertical-align: bottom;
                }
            }
            &:hover{
                color: @my-black-dk;
            }
        }
    }
}

.section-header {
    margin-bottom: 0;
    padding-bottom: 8px;
    border-bottom: solid 1px @my-linnen;
}

.lecture-sort {
    padding-top: 12px;
    a {
        .rounded(0);
        @headingsFontWeight;
        background-color: @my-linnen;
        border: 2px solid @my-black-lt;
        color: @my-black-lt;   
    }
    .active a{
        color: @my-linnen;
    }
}

.footerbar{
    background-color:@my-black-lt;
    border-top: 0;
    height:36px;
    border-bottom: solid 12px @my-red-lt;
    width: 100%;
    ul {
        list-style: none;
        width:150px;
        color: @my-red-lt;
        margin: 0 auto;
        li{
            line-height: 36px;
            vertical-align: middle;
            width:50px;
        }
    }
}

.checkoutFooter {
    margin-top: 10px;
    text-align: center;
    > #bt_form2 {
        text-align: left;
        input {
            margin-left: 50px;
            margin-top: 8px;
            margin-bottom: -4px;
        }
    }
    .my-btn,
    .btn {
        margin-top: 8px;
        width: 90%;
    }
}

.profession {
    color: @my-linnen;
}

.lecturelist{
    img {
        .blackwhite();    
    }
    .row {
        border-bottom: solid 1px #ccc;
    }
}

.thumbcol3{
    margin-left:0;
    margin-bottom:24px;
}

#checkoutBox {
    position: absolute;
    top: 90px;
    left: 50%;
    margin-left: 200px;
    &.fixed {
        position: fixed;
    }
}

// 
// Navbar
// --------------------------------------------------

.navbar-inner {
    #gradient > .vertical(@navbarBackgroundHighlight, @navbarBackground);    
}

.navbar .nav > li > a {
  padding: ((@navbarHeight - @baseLineHeight) / 2) 20px ((@navbarHeight - @baseLineHeight) / 2);
  margin-left: -20px; // negative indent to left-align the text down the page
  font-size: 20px;
  font-weight: 200;
  text-shadow: 0 1px 0 @navbarBackgroundHighlight;
  &.active{
    color: @my-blue-dk;
  }
}

// 
// Buttons
// --------------------------------------------------

.my-btn {
    .btn;
    .rounded(0);
    padding: 6px 18px;
    margin-bottom: 0; // For input.btn
    font-size: @fontSizeLarge;
    line-height: @inputHeight;
    .buttonBackground(@my-red-lt, @my-red-dk, @my-linnen, 1px -1px 1px rgba(255,255,255,.40));
    border: 1px solid @btnBorder;
    *border: 0; // Remove the border to prevent IE7's black border on input:focus
    border-bottom-color: darken(@btnBorder, 10%);
    .ie7-restore-left-whitespace(); // Give IE7 some love
    .box-shadow(0);

  // Hover state
  &:hover {
    text-decoration: none;
    .buttonBackground(@my-red-lt, @my-red-lt, @white, 0px 0px 3px rgba(255,255,255,.80));
    background-position: 0 -5px;

    // transition is only when going to hover, otherwise the background
    // behind the gradient (there for IE<=9 fallback) gets mismatched
    .transition(all .1s linear);
  }
}

// Submit Cart Button
#submitCart {
    
}

// Register User Button
#registerUserButton {
    width: 162px;
}

// Loading Button
.btn-loading {
    background-image: -webkit-gradient(linear, 0 0, 100% 100%,
        color-stop(.25, rgba(0, 0, 0, .10)), 
        color-stop(.25, transparent),
        color-stop(.5, transparent), 
        color-stop(.5, rgba(0, 0, 0, .10)),
        color-stop(.75, rgba(0, 0, 0, .10)), 
        color-stop(.75, transparent), 
        to(transparent));
    background-image: 
        -moz-linear-gradient(-45deg, 
            rgba(0, 0, 0, .10) 25%, 
            transparent 25%,
            transparent 50%, rgba(0, 0, 0, .10) 50%, 
            rgba(0, 0, 0, .10) 75%, 
            transparent 75%, transparent);
    background-size: 50px 50px;
    -moz-background-size: 50px 50px;
    -webkit-background-size: 50px 50px;
    -webkit-animation: animate-stripes 2s linear infinite;
}

@-webkit-keyframes animate-stripes {.mixi-frames;}
@-moz-keyframes animate-stripes {.mixi-frames;}
@-ms-keyframes animate-stripes {.mixi-frames;}
@-o-keyframes animate-stripes {.mixi-frames;}
@keyframes animate-stripes {.mixi-frames;}

.mixi-frames() {
    from {
        background-position: 0 0;
    } to {
        background-position: -50px 0;
    }
}

// 
// Images
// --------------------------------------------------

.frame-16x9 {
    overflow: hidden;
    height: 10.2em;
    img {
        margin-top: -11%;
    }
}

// 
// Form Styles
// --------------------------------------------------

input[type="checkbox"], input[type="radio"]{
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  width: 1px; height:1px;
  margin: -1px; padding: 0; border: 0; 
}


input[type="checkbox"] + label, input[type="radio"] + label{
   vertical-align: middle;
   display: inline-block;
   margin-top: 8px;
   width: auto;
   min-width: 200px;
    &:before{
      
      content: "\A";
      color: #ccc;
      font-size: 42px;
      line-height: 24px;
      text-align: center;
      display: inline-block;
      vertical-align: middle;
      position:relative;
      border-radius:0;
      background: #EEE;
      height:42px;
      width: 42px;
      text-shadow: 0px 0px 1px @my-black-lt;
      box-shadow: 0px 0px 1px #333 inset, 0px 0px 48px #FFF inset;
  }
}

input[type="checkbox"] + label > span {
    height: 42px;
    overflow:hidden;
    line-height: 42px;
    vertical-align: middle;
    padding-left: 12px;
    display: inline-block;
    width:182px;
    float:right;
    > span {

    }
}

input[type="radio"] + label{
  &:before{
   content: "●";
   color: #666;
   border-radius: 22px;
  }
}

input[type="checkbox"]:checked + label, input[type="radio"]:checked + label{
  color: @my-black-dk;
  font-weight: 700;
  &:before{
   content: "✔";
    color: @my-lime-lt !important;
    font-size: 42px;
    line-height: 42px;
    
  }
}

input[type="radio"]:checked + label{
  &:before{
    content: "●";
    color: @my-black-lt !important;
    text-shadow: 0px 0px 13px #00c4ff;
  }
}

// Login Page
// --------------------------------------------------
// 

#loginBox {
    width: 450px;
    > .content {
        background-color: #fff;
        padding: 20px;
        margin: 0 -20px; 
        -webkit-border-radius: 10px 10px 10px 10px;
           -moz-border-radius: 10px 10px 10px 10px;
                border-radius: 10px 10px 10px 10px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
                box-shadow: 0 1px 2px rgba(0,0,0,.15);
    }
    .login-form {
        margin-left: 65px;
    }
    h1{
        text-align: center;
        margin-bottom: 32px;
        margin-right: auto;
        margin-left: auto;
        position: relative;
        right: 24px;
    }
    textarea,
    input[type='text'],
    input[type='password']{
        width: 350px;
        height:32px;
        font-size: 22px;
        vertical-align: bottom;
        line-height: 26px;
        padding-left: 16px;
    }
    input[type='submit']{
        display:block;
        margin: 10px auto 0;
        position: relative;
        right: 20px;
    }
    legend {
        margin-right: -50px;
        font-weight: bold;
        color: #404040;
    }
    textarea{
        height: 200px;
    }
}


//
// Thumbnails
// --------------------------------------------------

.thumbnails {
    width: 100%;
    width: 1200px;
    > li {
        padding-left: 0;
    }
}


.thumbnail {
    margin-top: 25px;
    &.thumbnail-max{
        width: 100%;
    }
    background-color: @my-cream;
    
    p {
        overflow: hidden;
        font-size: 32px;
        text-transform: uppercase;
        line-height: 108%;
        text-align: center !important;
    }
}

.band {
    width: 100%;
    background-color: @heroUnitBackground;
    padding-bottom: 60px;
}


