<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{% block page_title %}Your Site{% endblock %}</title>
  <meta name="description" content="{% block meta_description %}{% endblock %}">
  <meta name="author" content="{% block meta_author %}{% endblock %}">
  <meta name="viewport" content="width=device-width">

  {% load compress %}
  {% if debug %}
    <link rel="stylesheet/less" type="text/css" media="all" href="{{ STATIC_URL }}less/style.less" />
    <script src="{{ STATIC_URL }}js/less-1.3.1.min.js"></script>
  {% else %}
    {% compress css %}
    <link rel="stylesheet" type="text/less" media="all" href="{{ STATIC_URL }}less/style.less" />
    {% endcompress %}
  {% endif %}

  <script src="{{ STATIC_URL }}js/libs/modernizr-2.5.3-respond-1.1.0.min.js"></script>
  {% block videojs %}{% endblock %}
  {% block headscripts %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
{% block body %}
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  <header>

    <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
    <div class="container">
 
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
 
      <!-- Be sure to leave the brand out there if you want it shown -->
      <a class="brand" href="{% url index %}">MYCROFT</a>
 
      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse">
        <!-- .nav, .navbar-search, .navbar-form, etc -->
        <ul class="nav">
          <li><a href="{% url license %}">For Institutions</a></li>
          <li><a href="{% url download %}">For Individuals</a></li>
          <li><a href="{% url store %}">Store</a></li>
          <li><a href="{% url story %}">Our Story</a></li>
          <li><a href="{% url testimonials %}">Testimonials</a></li>
          <li><a href="{% url contact %}">Contact</a></li>
        </ul>
       <ul class="nav pull-right">   
        <li>
          <div id="user_nav">
            {% if user.is_authenticated %}            
            <p>Signed in as {{user.first_name}}. Not you?
              <a href="{% url auth_logout %}" class="my-btn btn-danger btn-mino">Sign out</a><p>
            {% else %}
            <a href="{% url django.contrib.auth.views.login %}?next={{request.path}}" class="my-btn btn-info btn-mino">Sign in</a>
            {% endif %}
          </div>
        </li> 
      </ul>
      </div>

    </div>
    </div>
    </div>

  </header>
  <div role="main">

    {# <div class="container"> #}
      {% block content %}{% endblock %}
    {# </div> #}
  </div>
  <footer>

  </footer>


  <!-- JavaScript at the bottom for fast page loading -->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-1.7.1.min.js"><\/script>')</script>

  <!-- scripts concatenated and minified via build script -->
  <script src="{{ STATIC_URL }}js/plugins.js"></script>
  <script src="{{ STATIC_URL }}js/script.js"></script>
  <script src="{{ STATIC_URL }}js/libs/bootstrap/bootstrap-transition.js"></script>
  <script src="{{ STATIC_URL }}js/libs/bootstrap/bootstrap-collapse.js"></script>
  <script src="{{ STATIC_URL }}js/libs/bootstrap/bootstrap-modal.js"></script>
  <script src="{{ STATIC_URL }}js/libs/bootstrap/bootstrap-tooltip.js"></script>
  <script src="{{ STATIC_URL }}js/libs/bootstrap/bootstrap-validate.js"></script>
  <script src="{{ STATIC_URL }}js/libs/bootstrap/bootstrap-validate.en.js"></script>
  {% block scripts %}{% endblock %}
  
  <!-- end scripts -->
  <script>
    var _gaq=[['_setAccount','UA-35923323-1'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
{% endblock %}
</body>
</html>
