{% extends "base.html" %}
{% load url from future %}
{% load i18n %}

{% block page_class %}Mycroft Lectures: Individual Purchases{% endblock %}
{% block content %}


<div class="band">
<div class="container">
    <div class="row">
        <div class="span8 studentDescriptionBox">
            <div class="panelBox">
                <div class="section-header">
                    <h2>Mycroft Lectures for Individuals</h2>
                </div>
                <div class="innerPage">
                <p>Purchasing a Mycroft lecture will allow you to watch a university level lecture without going to a university. It will enable you to understand a poem without reading a book on that poem. Many of us absorb information better when it is explained to us verbally than we do when we read it. For many of us, seeing a person in the room go over those things we want to learn helps us take in what they have to say. If you are one of those people then Mycroft Lectures are for you.</p>
                <ul>
                <li>If you need to understand one of these poems for your examinations.</li>
                <li>If you have to do a presentation on one of these poems.</li>
                <li>If you are interested in poetry in general.</li>
                </ul>
                <p>Purchase the lecture and a link will be delivered to your email address. Click on the link to download the lecture. The link will be valid for two weeks and can be downloaded as many times as you wish.</p>
                <p>Though we have been very careful to ensure the lectures are easy to understand and cover explanations of the poems, these lectures contain very little “fat.” Each lecture provides a lot of information. Students at school or college level will be able to understand the poems after watching the lectures. Students at university level will find new points for consideration and analysis.</p>
                <p>The makers have taught at universities for over fifteen years and testify to the worth of these lectures at all levels.</p>
                <p>Select your lectures for checkout, or preview any of the available lectures in the preview gallery below.</p>
                <b class="signed">Andrew Barker</b>
                </div>
            </div>
            <div class="panelBox previewBox">
                <div class="section-header">
                <h2>Previews</h2>
                </div>
                <div class="innerPage">
                <p>Click the thumbnails to see an excerpt of the lecture, or the text-link for a more detailed description of what is covered in the lecture</p>
                </div>
                <ul id="content" class="lecturelist">
                {% for lecture in lecture_list %}
                <div class="single-grid-item">
                    <div class="frame-16x9">
                        <a href="/lecture/{{ lecture.poem.poet.slug }}/{{ lecture.slug }}">
                            <img src="http://img.youtube.com/vi/{{lecture.preview.youtube_id}}/0.jpg">
                        </a>
                    </div>
                    <div class="">
                        <h3><a class="dropdown" href"#">
                        <span class="author">{{ lecture.poem.poet.first_name }} {{ lecture.poem.poet.last_name }}:</span>
                        <span class="title">{{lecture.poem.title}}</span></a></h3>
                        <div class="description"><p>{{lecture.synopsis}}</p><a href="/lecture/{{ lecture.poem.poet.slug }}/{{ lecture.slug }}" class="my-btn inline">Watch Preview</a></div>
                    </div>    
                  </div>
            
                {% endfor %}
                </ul>
            </div>
        </div>
        <div class="span4 formBox">
            <div id="checkoutBox" class="panelBox">
                <div class="section-header">
                    <h3>Select for Checkout</h3>
                </div>
                <div class="innerPage">
                    <h3>Lectures <span class="badge badge-wide">US$ 4.99 each</span></h3>
                    <div id="lectureList">
                    {%for lecture in lecture_list%}
                        <div class="combobox">
                            <input id="lecture{{lecture.id}}" class="lectureCheckbox" type="checkbox" data-title="{{lecture.title}}" data-id="{{lecture.id}}" value="{{lecture.title}}">
                            <label class="checkbox" for="lecture{{lecture.id}}"><b>{{lecture.poem.poet.last_name}}: </b>{{lecture.title}}</label>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            <div class="formFatFooter">
            <div class="innerPage">
                <h4>Deliver to:</h4> 
                <form id="bt_form2" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
                    <input type="text" id="email" name="email" value="" placeholder="E-mail Address" validate="require|email">
                    <input type="hidden" id="address_override" name="address_override" value="1">
                    <input type="hidden" id="payer_email" name="payer_email" value="">
                    <input type="hidden" id="payer_id" name="payer_id" value="">
                    <input type="hidden" id="item_number" name="item_number" value="">
                    <input type="hidden" name="custom" value="0" id="custom_items">
                    <input type="hidden" name="discount_rate_cart" value="0" id="discount_rate_cart">
                    {{student}}
                    <input type="hidden" name="upload" value="1">
                </form>
            </div>
            </div>
                <div class="formFooter">
                    <div class="row-fluid">
                    <div class="span3"><b>Total</b><br> US$ <span id="totalPrice">0</span></div>
                    <div class="span9">
                    <input id="submitCart" type="submit" class="my-btn-paypal btn-danger" value="Select your Lectures" alt="Checkout with PayPal">
                    </div>
                </div>
        </div>
        </div>
    </div>
</div>
</div>

<div id="full-width" class="modal container hide fade" tabindex="-1">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Delivery by E-mail</h3>
  </div>
  <div class="modal-body">
    <p>Purchase the lecture and a link will be delivered to your email address. Click on the link to download the lecture. The link will be valid for two weeks and can be downloaded as many times as you wish.</p>
  </div>
  <div class="modal-footer">
    <button class="my-btn-paypal paypal-button btn-primary">{% trans 'Pay with Credit Card' %}</button>
    <button class="my-btn-paypal paypal-button btn-primary">{% trans 'Pay with PayPal' %}</button>
  </div>
</div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript">

    var selectedLectures = [];
    var discount = 0;
    var target = '';

    $(".btn-modal").on("click", function() {
        var Sub = $(this)
        $('#id_item_number').val(Sub.data('id'))
        $('#id_item_name').val(Sub.data('product'))
        $("#productLabel").text(Sub.data('product'));
    });

    function updatePrice (quantity, discount) {
        $('#totalPrice').text(Math.round(quantity * 4.99 * ((100 - discount)/100)*100)/100);
        $('#discountPercentage').text(discount);

        if(quantity){
            $('#submitCart').val('Buy').addClass('btn-primary').removeClass('btn-danger');
        } else {
            $('#submitCart').val('Select your Lectures').toggleClass('btn-danger');
        }
    }

    function calculateDiscount (quantity) {
        if(quantity == 0){
            discount = 0;
        } else if(0 < quantity && quantity < 7){
            discount = 0;
        } else if(quantity > 6){
            discount = 0;
        }
        $('#discount_rate_cart').val(discount)
        return discount;
    }


    function relabelItems(){
        $('.cartItem').each(function(index) {
            $(this).attr('name', "item_name_" + (index+1))
        });

        $('.itemAmount').each(function(index) {
            $(this).attr('name', "amount_" + (index+1))
        });
  
        $('.itemNumber').each(function(index) {
            $(this).attr('name', "item_number" + (index+1))
        });
    }

    $('#lectureList').on("click", ".lectureCheckbox", function () {
        var lectureID = $(this).data('id');
        var lectureTitle = $(this).data('title');
        var quantity = $(':checked').length;
        discount = calculateDiscount(quantity)

        if(selectedLectures[lectureID]){
            selectedLectures[lectureID] = false;
            $("#item" + lectureID).remove();
            $('#amount' + lectureID).remove();
            $('#item_number' + lectureID).remove();
            relabelItems();
        } else {
            selectedLectures[lectureID] = true;
            $('#bt_form2').append('<input type="hidden" name="amount_' + quantity +'" value="4.99" id="amount' + lectureID + '" class="itemAmount">')
            $('#bt_form2').append('<input type="hidden" name="item_name_'+ quantity +'" value="'+  lectureTitle + '" id="item' + lectureID + '" class="cartItem">')
            $('#bt_form2').append('<input type="hidden" name="item_number_'+ quantity +'" value="' + lectureID + '" id="item_number' + lectureID + '" class="itemNumber">')
        }
        var selected = [];
        $.each(selectedLectures, function(index, value) { 
              if(value){
                selected.push(index)
                }});
        $('#custom_items').val(selected.join());
        updatePrice(quantity, discount);
    });

    $("#submitCart").click(function(event) {
      event.preventDefault();
      $.bt_validate.result = true;
      $('#bt_form2').bt_validate()
      if($.bt_validate.blocked){ 
            return false;
        } else {
              email = $('#email').serialize();
              $(this).toggleClass('btn-loading').val('Processing...');

              $.post("/api/client/student/json/", email, function(data) {
                      response = $.parseJSON( data );
                      $('#id_custom').val(response[0]['pk']);
                      $('#payer_email').val(response[0]['fields']['email']);
                    $('#full-width').modal();
                  });
            }
    })

    $('.paypal-button').click(function(event){
        event.preventDefault();
        $('#bt_form2').submit();
    })

    $('.description').each(function() { $('.description', this).width( $(this).width() ); });

    e = $('.single-grid-item a.dropdown').click(function(e){
        e.preventDefault();
        $(this).parent().parent().find('.description').slideToggle();
    })
  </script>
{% endblock scripts %}

