{% extends "base.html" %}
{% load tags %}

{% block videojs %}
  <link href="{{ STATIC_URL }}js/libs/videojs/design/video-js.css" rel="stylesheet" type="text/css">
  <script src="{{ STATIC_URL }}js/libs/videojs/src/core.js"></script>
  <script src="{{ STATIC_URL }}js/libs/videojs/src/lib.js"></script>
  <script src="{{ STATIC_URL }}js/libs/videojs/src/json.js"></script>

  <script src="{{ STATIC_URL }}js/libs/videojs/src/component.js"></script>
  <script src="{{ STATIC_URL }}js/libs/videojs/src/player.js"></script>
  <script src="{{ STATIC_URL }}js/libs/videojs/src/tech.js"></script>
  <script src="{{ STATIC_URL }}js/libs/videojs/src/controls.js"></script>
  <script src="{{ STATIC_URL }}js/libs/videojs/src/events.js"></script>
  <script src="{{ STATIC_URL }}js/libs/videojs/src/tracks.js"></script>

  <script src="{{ STATIC_URL }}js/libs/videojs/tech/html5/html5.js"></script>
  <script src="{{ STATIC_URL }}js/libs/videojs/tech/flash/flash.js"></script>

  <script src="{{ STATIC_URL }}js/libs/videojs/tech/youtube/youtube.js"></script>
  
  <script src="{{ STATIC_URL }}js/libs/videojs/src/setup.js"></script>
{% endblock %}

{% block headscripts %}
{% endblock %}

{% block page_class %}Mycroft Lectures: Home{% endblock %}

{% block content %}
<div class="container actionbar"></div>
<div class="jumptron">
  <!-- <h1>Hello there,</h1> -->
    <div class="container">
      <div class="Videowrapper">
        <a href="#"><img class="ratio" src="{{ STATIC_URL }}img/landing.png"/></a>
        <video id="example_video_1" class="video-js hide vjs-default-skin h_iframe" width="980" height="550" data-setup='{"techOrder":["youtube","html5"],"ytcontrols":true}'
          poster="http://video-js.zencoder.com/oceans-clip.png">
          <source src="http://www.youtube.com/watch?v=aRuHAAmXDkY" type='video/youtube'>
        </video>
      </div>
  </div>
</div>

<div class="panel-wide">
  <div class="container actionbar bottom">
    <p class="pull-left"> Mycroft Poetry Analysis Lectures</p>
    <p class="pull-right">
        Available for <a href="{% url license %}" class="my-btn btn-large"><i class="icon-dark icon-book"></i> Institutions</a> and <a href="{% url alacarte %}" class="my-btn btn-large"><i class="icon-dark icon-user"></i> Individuals</a>
  </p>
  </div>
</div>

<div class="panel-wide portalbar">
 <div class="container">
  <div class="section-header">
    <h2>School Portals</h2>
  </div>
    <ul class="thumbnails">
    {% num_range 4 as some_range %}
      {% for i in some_range %}
      <li class="span2">
        <a href="/portal/st-subornation-college/" class="thumbnail thumbnail-max"><img src="{{ STATIC_URL }}img/logos/school{{i}}.jpg" alt=""></a>
      </li>
      {% endfor %}  
    </ul>
  </div>
</div>


<div class="panel-wide lecturegrid">
<div class="container">
  <div class="section-header">
  <h2>Available Lectures</h2>
  <ul class="nav nav-pills pull-right lecture-sort">
    <li><p>Ordered by:</p></li>
    <li class="active"><a data-sort="poet" href="">Poet Name</a></li>
    <li><a data-sort="title" href="">Poem Title</a></li>
    <li><a data-sort="date" href="">Year of Publication</a></li>
  </ul>
  </div>
  <ul id="content" class="thumbnails" class="span12">
      {% for lecture in lectures %}
        <li class="span3 lecture-panel" data-poet="{{ lecture.poem.poet.last_name}}" data-title="{{ lecture.poem.title }}" data-date="{{lecture.poem.pub_year}}">
          <div class="thumbnail lecture-block">
            <a href="/lecture/{{ lecture.poem.poet.slug }}/{{ lecture.slug }}">
            <div class="frame-16x9"><img src="http://img.youtube.com/vi/{{lecture.preview.youtube_id}}/0.jpg"></div>
            <span class="title">{{lecture.poem.title}}</span>
            <span class="author">{{ lecture.poem.poet.first_name }} {{ lecture.poem.poet.last_name }}</span>
            </a>
        </div>
        </li>
      {% endfor %}
  </ul>
</div>

<div class="container">
  <footer class="footerbar">
    <ul class="nav-pills">
        <li>MYCROFT</li>
        <li>©</li>
        <li>LECTURES</li>
    </ul>
  </footer>
</div>
<div class="final"></div>
{% endblock %}


{% block scripts %}
  <script src="{{ STATIC_URL }}js/libs/jquery/sortElements.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">

  $('.Videowrapper').click('a', function(e){
    console.log('hello');
    $('#example_video_1').show();
    _V_("example_video_1").ready(function(){

    var myPlayer = this;    // Store the video object
    console.log(myPlayer);
    var aspectRatio = 9/16; // Make up an aspect ratio

    function resizeVideoJS(){
      // Get the parent element's actual width
      var width = document.getElementById(myPlayer.id).parentElement.offsetWidth;
      // Set width to fill parent element, Set height
      myPlayer.width(width).height( width * aspectRatio );
    }

    resizeVideoJS(); // Initialize the function
    window.onresize = resizeVideoJS; // Call the function on resize
    });

    _V_('#example_video_1').play();
  });
  
  $('.lecture-sort a').live('click', function(e){
    $this = $(this);
    e.preventDefault();
    $('.lecture-sort > li.active').toggleClass('active');
    $this.parent().toggleClass('active');
    q = $this.data('sort');
    console.log(q)
    $('li.lecture-panel').sortElements(function(a, b){
        return $(a).data(q) > $(b).data(q) ? 1 : -1;
    })
  });

  </script>
  
{% endblock %}

