{% extends "base.html" %}

{% block page_class %}home-page{% endblock %}
{% block content %}
<iframe src="http://player.vimeo.com/video/{{lecture.preview.vimeo_id}}?title=0&byline=0&portrait=0" width="1170" height="660" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
<div class="row">
<div class="span12">
<a href=""></a><button class="btn btn-primary btn-large pull-right" type="button">BUY FULL LECTURE</button>
{{ form }}
<h1>'{{lecture.preview.title}}'<small>Excerpt from: {{lecture.poem.title}}</small></h1>
<p>{{lecture.synopsis}}</p>
</div>
</div>
<div class="row">
<div class="span7 well">
<pre>{{lecture.poem.text}}</pre>
</div>
<div class="span4">
<h2>{{lecture.poem.poet}}</h2>
<p>{{lecture.poem.poet.year_of_birth}} - {{lecture.poem.poet.year_of_death}}</p>
<p>{{lecture.poem.poet.description}}</p>

</div>
</div>
{% endblock %}

