{% extends "base.html" %}
{% load url from future %}
{% load i18n %}

{% block page_class %}Store{% endblock %}
{% block content %}
<div class="band">
    <div class="row">
    <div class="container">
        <div class="panelBox alpha span7">
            <div class="section-header">
                <h1>Institutional</h1>
            </div>
            <div class="innerPage">
            {% autoescape off %}<p>{{subscription.description}}</p><p>{{subscription.description}}</p>{% endautoescape %}
            <b class="signed">Andrew Barker</b>
            </div>
        </div>
        <div class="panelBox omega span5">
            <div>  
            <div class="section-header">
            <h1 id="productLabel">Sign up</h1>
            </div>  
            <div class="innerPage">
            <form id="subscriptionForm" method="post" action=".">{% csrf_token %}
                <label for="id_school">School or Institution:</label><input id="id_school" validate="required" type="text" name="institution" maxlength="128">
                <label for="id_first_name">First Name:</label><input id="id_first_name" validate="required" type="text" name="first_name" maxlength="64">
                <label for="id_last_name">Last Name:</label><input id="id_last_name" validate="required" type="text" name="last_name" maxlength="64">
                <label for="id_email">Contact Email:</label><input id="id_email" validate="required|email" type="text" name="email" maxlength="256">
                <label for="password1">Password:</label> <input id="password1" type="password" class="required" name="password1">
                <label for="password2">Password (repeat):</label> <input validate="required|custom_pass_eq" type="password" name="password2" id="password2">
                <input type="hidden" name="id" value="0" id="subscriptionID">'
            </form>
            </div>
            </div>
            <div class="modal-footer">
                <button id="registerUserButton" class="btn btn-primary">{% trans 'Checkout with PayPal' %}</button>
            </div>
            {{ subscription_form }}
        </div>
    </div>
    </div>
</div>

<div class="band">
    <div class="row">
    <div class="container">
    <div class="lecture-list-wide panelBox alpha span12">
        <div class="section-header">
            <h2>Available Lectures</h2>
            <ul class="nav nav-pills lecture-sort">
                <li class="active"><a data-sort="poet" href="">Poet Name</a></li>
                <li><a data-sort="title" href="">Poem Title</a></li>
                <li><a data-sort="date" href="">Year of Publication</a></li>
            </ul>
        </div>
    
        <ul id="content" class="lecturelist span12">
            {% for lecture in lecture_list %}
        
            <div class="row lecture-panel" data-poet="{{ lecture.poem.poet.last_name}}" data-title="{{ lecture.poem.title }}" data-date="{{lecture.poem.pub_year}}">
                <div class="frame-16x9 span4">
                    <img src="http://img.youtube.com/vi/{{lecture.preview.youtube_id}}/0.jpg">
                </div>
                <div class="span8">
                    <h3><a href="/lecture/{{ lecture.poem.poet.slug }}/{{ lecture.slug }}">
                    <span class="author">{{ lecture.poem.poet.first_name }} {{ lecture.poem.poet.last_name }}:</span>
                    <span class="title">{{lecture.poem.title}}</span></a></h3>
                    <p>{{lecture.synopsis}}</p>
                </div>    
              </div>
        
            {% endfor %}
        </ul>
    </div>
    </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script src="{{ STATIC_URL }}js/libs/jquery/sortElements.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">

    $('#registerUserButton').click(function(){
        event.preventDefault();
        $.bt_validate.result = true;
        $('#subscriptionForm').bt_validate()
        if($.bt_validate.blocked){ 
            return false };
        
        $(this).toggleClass('btn-loading').text('Loading...');
        form = $('#subscriptionForm').serialize();

        $.post("/api/client/educator/json/", form, function(data) {
            response = $.parseJSON( data );
            $('#id_custom').val(response[0]['pk']);
            $('#subscriptionForm').submit();
        });
    });

  $('.lecture-sort a').live('click', function(e){
    $this = $(this);
    e.preventDefault();
    $('.lecture-sort > li.active').toggleClass('active');
    $this.parent().toggleClass('active');
    q = $this.data('sort');
    $('div.lecture-panel').sortElements(function(a, b){
        return $(a).data(q) > $(b).data(q) ? 1 : -1;
    })
  });
  </script>
{% endblock scripts %}

