{% extends "base.html" %}
{% load url from future %}
{% load i18n %}

{% block page_class %}Mycroft Lectures: Institutional License{% endblock %}
{% block content %}
<div class="band">
    <div class="container">
    <div class="row">
        <div class="panelBox institutionalDescriptionBox span7">
            <div class="section-header">
                <h1>Institutional License</h1>
            </div>
            <div class="innerPage">
            <h4>Reasons for your School, College or University to license Mycroft Lectures</h4>
            {% autoescape off %}<p>{{subscription.description}}</p>{% endautoescape %}
            <b class="signed">Andrew Barker</b>
            </div>
        </div>
        <div class="panelBox formBox span5">
            <div class="section-header">
                    <h1 id="productLabel">Get a License<span class="badge">US$ 500 </span></h1>
            </div>  
            <div class="innerPage">
                <form id="subscriptionForm" method="post" action=".">{% csrf_token %}
                    <input id="id_school" validate="required" type="text" name="institution" placeholder="School or Institution" maxlength="128">
                   <input id="id_first_name" validate="required" type="text" placeholder="First Name" name="first_name" maxlength="64">
                   <input id="id_last_name" validate="required" type="text" name="last_name" placeholder="Last Name" maxlength="64">
                   <input id="id_email" validate="required|email" type="text" name="email" placeholder="Contact Email" maxlength="256">
                  <input id="password1" type="password" class="required" placeholder="Institutional Password" name="password1">
                    <input validate="required|custom_pass_eq" type="password" placeholder="Institutional Password (repeat)" name="password2" id="password2">
                    <input type="hidden" name="id" value="0" id="subscriptionID">
                </form>
            </div>
            <div class="formFooter">
                <button id="registerUserButton" class="my-btn-paypal btn-primary">{% trans 'Checkout with PayPal' %}</button>
            </div>
            {{ subscription_form }}
        </div>
    </div>
    </div>
</div>

    <div class="container">
    <div class="row">
    <div class="panelBox span12">
        <div class="section-header">
            <h2>Available Lectures</h2>
        </div>
        <ul id="content" class="lecturelist thumbnails">
            {% for lecture in lecture_list %}
            {% if forloop.counter|divisibleby:2 %}{% else %}<div class="row-fluid">{% endif %}
            <li class="span6 {% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}" data-poet="{{ lecture.poem.poet.last_name}}" data-title="{{ lecture.poem.title }}" data-date="{{lecture.poem.pub_year}}">
                <div class="thumbnail">
                    <a href="/lecture/{{ lecture.poem.poet.slug }}/{{ lecture.slug }}">
                        <div class="frame-16x9">
                            <img src="http://img.youtube.com/vi/{{lecture.preview.youtube_id}}/0.jpg">
                        </div>
                    </a>
                    <div class="footer">
                        <h3>
                            <a href="/lecture/{{ lecture.poem.poet.slug }}/{{ lecture.slug }}">
                                <span class="author">{{ lecture.poem.poet.first_name }} {{ lecture.poem.poet.last_name }}:</span>
                                <span class="title">{{lecture.poem.title}}</span>
                            </a>
                        </h3>
                        <p>{{lecture.synopsis}}</p>
                    </div>    
                </div>    
            {% if forloop.counter|divisibleby:2 %}</div>{% endif %}
              </li>
            {% endfor %}
        </ul>
    </div>
    </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{{ STATIC_URL }}js/libs/jquery/sortElements.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">

    $('#registerUserButton').click(function(){
        event.preventDefault();
        $.bt_validate.result = true;
        $('#subscriptionForm').bt_validate()
        if($.bt_validate.blocked){ 
            return false };
        
        $(this).toggleClass('btn-loading').text('Loading...');
        form = $('#subscriptionForm').serialize();

        $.post("/api/client/educator/json/", form, function(data) {
            response = $.parseJSON( data );
            $('#id_custom').val(response[0]['pk']);
            $('#subscriptionForm').submit();
        });
    });

  $('.lecture-sort a').live('click', function(e){
    $this = $(this);
    e.preventDefault();
    $('.lecture-sort > li.active').toggleClass('active');
    $this.parent().toggleClass('active');
    q = $this.data('sort');
    $('li.double-grid-item').sortElements(function(a, b){
        return $(a).data(q) > $(b).data(q) ? 1 : -1;
    })
  });
  </script>
{% endblock scripts %}

