<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- If you delete this meta tag, Half Life 3 will never be released. -->
<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Mycroft Lectures Purchase</title>
	
<style type="text/css">
</style>

</head>
 
<body bgcolor="#FFFFFF">

<!-- HEADER -->
<table class="head-wrap" bgcolor="#242732">
	<tr>
		<td></td>
		<td class="header container" >
				
				<div class="content">
				<table bgcolor="#242732">
					<tr>
						<td><img src="http://placehold.it/200x50&text=Mycroft" /></td>
						<td align="right"><h6 class="collapse">Lectures Purchase</h6></td>
					</tr>
				</table>
				</div>
				
		</td>
		<td></td>
	</tr>
</table><!-- /HEADER -->


<!-- BODY -->
<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" bgcolor="#FFFFFF">

			<div class="content">
			<table>
				<tr>
					<td>
						<h3>Hi, {{user.first_name}} {{user.last_name}}</h3>
						<p class="lead">Thank you for learning with Mycroft Lectures.</p>
						<p>The following lectures are available to stream or download. The links will remain active for the next two weeks. <b>Happy learning!</b></p>
						<!-- Callout Panel -->
						{% for lecture in lectures %}
						<p class="callout">
							<b>{{ lecture.poem.poet }}: </b><a href="{{ site }}/get/{{user.username}}/{{lecture.slug}}/">{{lecture.title }}</a>
						{% endfor %}
						</p><!-- /Callout Panel -->					
						<p class="callout">
							<b>Link expiry date: <span class="expiry">{{ expiry }}</span></b>
						</p><!-- /Callout Panel -->

						<!-- social & contact -->
						<table class="social" width="100%">
							<tr>
								<td>
									
									<!-- column 1 -->
									<table align="left" class="column">
										<tr>
											<td>				
												
												<h5 class="">Connect with Us:</h5>
												<p class=""><a href="https://www.facebook.com/MycroftOnlineLectures" class="soc-btn fb">Facebook</a> <a href="https://twitter.com/mycroftlectures" class="soc-btn tw">Twitter</a> <a href="http://www.youtube.com/user/mycroftlectures?feature=watch" class="soc-btn gp">YouTube</a></p>
						
												
											</td>
										</tr>
									</table><!-- /column 1 -->	
									
									<!-- column 2 -->
									<table align="left" class="column">
										<tr>
											<td>				
																			
												<h5 class="">Contact Info:</h5>												
												<p>Phone: <strong>+852 9757 5447</strong><br/>
												Email: <strong><a href="emailto:{{ email }}">{{ email }}</a></strong></p>                
											</td>
										</tr>
									</table><!-- /column 2 -->
									
									<span class="clear"></span>	
									
								</td>
							</tr>
						</table><!-- /social & contact -->
						
					</td>
				</tr>
			</table>
			</div><!-- /content -->
									
		</td>
		<td></td>
	</tr>
</table><!-- /BODY -->

<!-- FOOTER -->
<table class="footer-wrap">
	<tr>
		<td></td>
		<td class="container">
			
				<!-- content -->
				<div class="content">
				<table>
				<tr>
					<td align="center">
						<p>
							<a href="{{ site }}/about/">About</a> |
							<a href="{{ site }}/terms/">Terms</a>
						</p>
					</td>
				</tr>
			</table>
				</div><!-- /content -->
				
		</td>
		<td></td>
	</tr>
</table><!-- /FOOTER -->

</body>
</html>
