<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- If you delete this meta tag, Half Life 3 will never be released. -->
<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Mycroft Lectures Subscriber Signup</title>
	
<style type="text/css">

</style>

</head>
 
<body bgcolor="#FFFFFF">

<!-- HEADER -->
<table class="head-wrap" bgcolor="#999999">
	<tr>
		<td></td>
		<td class="header container" >
				
				<div class="content">
				<table bgcolor="#999999">
					<tr>
						<td><img src="http://placehold.it/200x50&text=Mycroft" /></td>
						<td align="right"><h6 class="collapse">New Subscriber</h6></td>
					</tr>
				</table>
				</div>
				
		</td>
		<td></td>
	</tr>
</table><!-- /HEADER -->


<!-- BODY -->
<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" bgcolor="#FFFFFF">

			<div class="content">
			<table>
				<tr>
					<td>
						<h3>Hi,</h3>
						<p class="lead">Thank you for regeristring with Mycroft Lectures.</p>
						<p>You can <a href="{% url auth_login %}">log into</a> account with the following credentials</p>
						<!-- Callout Panel -->
						<p class="callout">
							<b>Username: </b>{{ user.email }}</a>
							<b>Password: </b>{{ password }}</a>
						<!-- social & contact -->
						<table class="social" width="100%">
							<tr>
								<td>
									
									<!-- column 1 -->
									<table align="left" class="column">
										<tr>
											<td>				
												
												<h5 class="">Connect with Us:</h5>
												<p class=""><a href="https://www.facebook.com/MycroftOnlineLectures" class="soc-btn fb">Facebook</a> <a href="https://twitter.com/mycroftlectures" class="soc-btn tw">Twitter</a> <a href="http://www.youtube.com/user/mycroftlectures?feature=watch" class="soc-btn gp">YouTube</a></p>
						
												
											</td>
										</tr>
									</table><!-- /column 1 -->	
									
									<!-- column 2 -->
									<table align="left" class="column">
										<tr>
											<td>				
																			
												<h5 class="">Contact Info:</h5>												
												<p>Phone: <strong>+852 9757 5447</strong><br/>
                Email: <strong><a href="emailto:andrew@mycroft-online-lectures.com">andrew@mycroft-online-lectures.com</a></strong></p>
                
											</td>
										</tr>
									</table><!-- /column 2 -->
									
									<span class="clear"></span>	
									
								</td>
							</tr>
						</table><!-- /social & contact -->
						
					</td>
				</tr>
			</table>
			</div><!-- /content -->
									
		</td>
		<td></td>
	</tr>
</table><!-- /BODY -->

<!-- FOOTER -->
<table class="footer-wrap">
	<tr>
		<td></td>
		<td class="container">
			
				<!-- content -->
				<div class="content">
				<table>
				<tr>
					<td align="center">
						<p>
							<a href="mycroftlectures.dyndns-free.com/about/">About</a> |
							<a href="mycroftlectures.dyndns-free.com/terms/">Terms</a>
						</p>
					</td>
				</tr>
			</table>
				</div><!-- /content -->
				
		</td>
		<td></td>
	</tr>
</table><!-- /FOOTER -->

</body>
</html>
