{% extends "base.html" %}
{% load url from future %}
{% load i18n %}

{% block page_class %}Mycroft Lectures: Store{% endblock %}
{% block content %}

<div class="band">
<div class="container">
    <div class="row">
        <div class="span5">
            <div class="panelBox formBox">            
                <div class="section-header">
                    <h2>{{subscription.name}}</h2>
                </div>
                <div class="innerPage">
                {% autoescape off %}
                {{subscription.description}}
                {% endautoescape %}
                </div>
                <div class="formFooter">
                    <div class="row-fluid">
                        <div class="span4"><b>License Fee</b><br> US$ <span id="licenseFee">{{subscription.price}}</span></div>            
                        <div class="span8"> 
                            <input data-toggle="modal" data-id="{{subscription.id}}" data-product="{{subscription.name}}" data-toggle="modal" title="{{subscription.name}}" value="Checkout with PayPal" class="btn-modal my-btn btn-primary" href="#SubscriptionDialog">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panelBox formBox span7">
            <div class="section-header">
                <h2>À la carte for individuals</h2>
            </div>
            <div class="innerPage">
                <p>If you are not member of a Mycroft Lectures licensee, we still want you to be able to benefit from our lectures. You can cherry-pick the lectures and just pay for those you want. Links to the purchased lectures are delivered by e-mail and will be live for week.</p>
                <h4>Mycroft Lectures for personal viewing</h4>
                    <div id="lectureList">
                        <div class="row">
                        {%for lecture in lecture_list%}
                            <div class="combolabel span3">
                                <input id="lecture{{lecture.id}}" class="lectureCheckbox" type="checkbox" data-title="{{lecture.title}}" data-id="{{lecture.id}}" value="{{lecture.title}}">
                                <label class="checkbox" for="lecture{{lecture.id}}"><b>{{lecture.poem.poet.last_name}}: </b>{{lecture.title}}</label>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
            </div>
            <div class="formFatFooter">
                <div class="innerPage">
                    <h4>Deliver to:</h4> 
                       <form id="bt_form2" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
                            <input type="text" id="email" name="email" value="" placeholder="E-mail Address" validate="required|email">
                            <input type="hidden" id="address_override" name="address_override" value="1">
                            <input type="hidden" id="payer_email" name="payer_email" value="">
                            <input type="hidden" id="payer_id" name="payer_id" value="">
                            <input type="hidden" id="item_number" name="item_number" value="">
                            <input type="hidden" name="custom" value="0" id="custom_items">
                            <input type="hidden" name="discount_rate_cart" value="0" id="discount_rate_cart">
                            {{student}}
                            <input type="hidden" name="upload" value="1">
                        </form>
                        </div>
                        </div>
                    <div class="formFooter">
                    <div class="row-fluid">
                            <div class="span3"><b>Total</b><br> US$ <span id="totalPrice">0</span></div>
                            <div class="span5 offset4">
                            <input id="submitCart" type="submit" class="my-btn-paypal btn-danger" value="Select your Lectures" alt="Checkout with PayPal">
                            </div>
                        </div>
                </div>
            </div>
</div>
</div>

<!-- Modal -->
<div id="SubscriptionDialog" class="modal panelBox formBox hide fade" tabindex="-1" role="dialog" aria-labelledby="SubscribeLabel" aria-hidden="true">
    <div class="section-header">
        <h2>{{subscription.name}}</h2>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    </div>
    <div class="innerPage">
        <span class="badge">US$ 500 </span>

    <!-- Registration Form -->
        <form id="subscriptionForm" method="post" action=".">{% csrf_token %}
                <label for="id_school"></label><input id="id_school" validate="required" type="text" name="institution" placeholder="School or Institution" maxlength="128">
                <label for="id_first_name"></label><input id="id_first_name" validate="required" type="text" placeholder="First Name" name="first_name" maxlength="64">
                <label for="id_last_name"></label><input id="id_last_name" validate="required" type="text" name="last_name" placeholder="Last Name" maxlength="64">
                <label for="id_email"></label><input id="id_email" validate="required|email" type="text" name="email" placeholder="Contact Email" maxlength="256">
                <label for="password1"></label> <input id="password1" type="password" class="required" placeholder="Institutional Password" name="password1">
                <label for="password2"></label> <input validate="required|custom_pass_eq" type="password" placeholder="Institutional Password (repeat)" name="password2" id="password2">
                <input type="hidden" name="id" value="0" id="subscriptionID">
        </form>
    </div>
    <div class="formFooter">
        <button id="registerUserButton" class="my-btn-paypal btn-primary">{% trans 'Checkout with PayPal' %}</button>
    </div>
    {{ subscription_form }}
</div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript">

    var selectedLectures = [];
    var discount = 0;
    var target = '';

    $(".btn-modal").on("click", function() {
        var Sub = $(this)
        $('#id_item_number').val(Sub.data('id'))
        $('#id_item_name').val(Sub.data('product'))
        $("#productLabel").text(Sub.data('product'));
    });

    function updatePrice (quantity, discount) {
        $('#totalPrice').text(Math.round(quantity * 4.99 * ((100 - discount)/100)*100)/100);
        $('#discountPercentage').text(discount);

        if(quantity){
            $('#submitCart').val('Checkout with PayPal').addClass('btn-primary').removeClass('btn-danger');
        } else {
            $('#submitCart').val('Select your Lectures').toggleClass('btn-danger');
        }
    }

    function calculateDiscount (quantity) {
        if(quantity == 0){
            discount = 0;
        } else if(0 < quantity && quantity < 7){
            discount = 0;
        } else if(quantity > 6){
            discount = 0;
        }
        $('#discount_rate_cart').val(discount)
        return discount;
    }


    function relabelItems(){
        $('.cartItem').each(function(index) {
            $(this).attr('name', "item_name_" + (index+1))
        });

        $('.itemAmount').each(function(index) {
            $(this).attr('name', "amount_" + (index+1))
        });
  
        $('.itemNumber').each(function(index) {
            $(this).attr('name', "item_number" + (index+1))
        });
    }

    $('#lectureList').on("click", ".lectureCheckbox", function () {
        var lectureID = $(this).data('id');
        var lectureTitle = $(this).data('title');
        var quantity = $(':checked').length;
        discount = calculateDiscount(quantity)

        if(selectedLectures[lectureID]){
            selectedLectures[lectureID] = false;
            $("#item" + lectureID).remove();
            $('#amount' + lectureID).remove();
            $('#item_number' + lectureID).remove();
            relabelItems();
        } else {
            selectedLectures[lectureID] = true;
            $('#bt_form2').append('<input type="hidden" name="amount_' + quantity +'" value="4.99" id="amount' + lectureID + '" class="itemAmount">')
            $('#bt_form2').append('<input type="hidden" name="item_name_'+ quantity +'" value="'+  lectureTitle + '" id="item' + lectureID + '" class="cartItem">')
            $('#bt_form2').append('<input type="hidden" name="item_number_'+ quantity +'" value="' + lectureID + '" id="item_number' + lectureID + '" class="itemNumber">')
        }
        var selected = [];
        $.each(selectedLectures, function(index, value) { 
              if(value){
                selected.push(index)
                }});
        $('#custom_items').val(selected.join());
        updatePrice(quantity, discount);
    });

    $("#submitCart").click(function(event) {
      event.preventDefault();
      $.bt_validate.result = true;
      $('#bt_form2').bt_validate()
      if($.bt_validate.blocked){ 
            return false };
      
      email = $('#email').serialize();
      $(this).toggleClass('btn-loading').val('Loading...');

      $.post("/api/client/student/json/", email, function(data) {
              response = $.parseJSON( data );
              $('#custom_items').val(response[0]['pk']);
              $('#payer_email').val(response[0]['fields']['email']);
              $('#bt_form2').submit();
          });
    })

    $('#registerUserButton').click(function(){
        event.preventDefault();
        $.bt_validate.result = true;
        $('#subscriptionForm').bt_validate()
        if($.bt_validate.blocked){ 
            return false };
        
        $(this).toggleClass('btn-loading').text('Loading...');
        form = $('#subscriptionForm').serialize();

        $.post("/api/client/educator/json/", form, function(data) {
            response = $.parseJSON( data );
            $('#id_custom').val(response[0]['pk']);
            $('#subscriptionForm').submit();
        });
    });

    </script>
{% endblock scripts %}

