{% extends "base.html" %}

{% block page_class %}home-page{% endblock %}
{% block content %}
<div class="band">
<div class="container">
    <div id="container">       
        {% for testimonial in testimonials%}
            <div class="panelBox span4 pull-left testimonial">
                    <h4>{{ testimonial.name }}<span class="pull-right profession">
                {% if testimonial.profession == 'T'%}
                    TEACHER
                {% else %}
                    POET
                {% endif %}
                    </span></h4>
                <blockquote>
                {{ testimonial.text }}
                </blockquote>
                {% if testimonial.published_work %}
                <p><b>Author of</b> <a href="{{ testimonial.published_work_url }}">{{ testimonial.published_work }}</a><br><br>
                {% endif %}
                {{ testimonial.credentials|urlize }}</p>
            </div>
        {% endfor %}
    </div>
</div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ STATIC_URL }}js/libs/jquery/masonry.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript" charset="utf-8">

$(window).load(function(){
    responsiveMasonry()
});

$(window).resize(function(){
    responsiveMasonry()
});

function responsiveMasonry(){
    $wd = $('#container').width();
    if ($wd < 746){
        adaptTestimonials(30, 744, 2)
    } else if ($wd == 960){
        adaptTestimonials(20, 960, 3)
    } else if ($wd == 1190){
        adaptTestimonials(20, 1200, 3)
    } else {
        adaptTestimonials(20, 520, 1)
    }
}

function adaptTestimonials(gt, wd, col){
    $('#container').masonry({
        itemSelector : '.testimonial',
        columnWidth : ((wd - (col*gt)) / col),
        gutterWidth: gt
        });
    $('.testimonial').removeClass('span12 span6 span4').addClass('span' + (12 / col));
}

</script>
{% endblock %}


